.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 35px 0;
    width: 400px;
    padding: 0;
}

.toDo {
    font-family: Sans-Serif;
    font-size: 20px;
    color: coral;
    padding: 10px;
    margin: 5px;
    margin-right: 0px;
    background-color: #201C29;
    border: 1px solid #312D3C;
    border-radius: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.completed {
    composes: toDo;
    color: green;
}

.deleteToDo {
    color: red;
    border: none;
    border-radius: 15px;
    width: 24px;
    height: 24px;
    background: transparent;
    cursor: pointer;
}

.deleteToDo:focus {
    color: #F7701F;
    outline: none;
}